<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../public/scripts/script.js"></script>
    <title>Document</title>
</head>
<body>    
    <div class="grid">
       
        <div class="header_main">
            <div class = "header_container_title">
                <h2 id="header_container_title_text" class = "title_text">Food Dictionary</h2>
            </div>
        </div>
        
        <div class="header_find">
            <div class="header_container_find_img_container">
                <img class="header_container_find_img_container_img" src = "img/find_icon.png">
            </div>
            <div class="header_container_find_text_container">
                <h3 class="header_container_find_text_container_text">Пошук</h3>
            </div>
        </div>

        <div class="header_login">
            <div class="header_container_login_img_container">
                <img class="header_container_login_img_container_img" src = "img/login_icon.png">
            </div>
            <div class="header_container_login_text_container">
                <h3 class="header_container_login_text_container_text">Увійти</h3>
            </div>
        </div>
        <div class="content-table">
            <table>
                <tbody>
                  <tr>
                    <td><img src="img/front_img/1.jpg" alt="Image 1"></td>
                    <td><img src="img/front_img/2.jpg" alt="Image 2"></td>
                    <td><img src="img/front_img/3.jpg" alt="Image 3"></td>
                  </tr>
                  <tr>
                    <td class="text-below-image">Text below image 1</td>
                    <td class="text-below-image">Text below image 2</td>
                    <td class="text-below-image">Text below image 3</td>
                  </tr>
                  <tr>
                    <td><img src="img/front_img/4.jpg" alt="Image 4"></td>
                    <td><img src="img/front_img/5.jpg" alt="Image 5"></td>
                    <td><img src="img/front_img/6.jpg" alt="Image 6"></td>
                  </tr>
                  <tr>
                    <td class="text-below-image">Text below image 4</td>
                    <td class="text-below-image">Text below image 5</td>
                    <td class="text-below-image">Text below image 6</td>
                  </tr>
                  <tr>
                    <td><img src="img/front_img/7.jpg" alt="Image 7"></td>
                    <td><img src="img/front_img/8.jpg" alt="Image 8"></td>
                    <td><img src="img/front_img/9.jpg" alt="Image 9"></td>
                  </tr>
                  <tr>
                    <td class="text-below-image">Text below image 7</td>
                    <td class="text-below-image">Text below image 8</td>
                    <td class="text-below-image">Text below image 9</td>
                  </tr>
                  <tr>
                    <td><img src="img/front_img/10.jpg" alt="Image 10"></td>
                    <td><img src="img/front_img/11.jpg" alt="Image 11"></td>
                    <td><img src="img/front_img/12.jpg" alt="Image 12"></td>
                  </tr>
                  <tr>
                    <td class="text-below-image">Text below image 10</td>
                    <td class="text-below-image">Text below image 11</td>
                    <td class="text-below-image">Text below image 12</td>
                  </tr>
                  <tr>
                    <td colspan="3">
                      <button>Button 1</button>
                      <button>Button 2</button>
                    </td>
                  </tr>
                </tbody>
              </table>
              
              
        </div>

    <div class="footer_left">
        <div class="footer_container_follow_us_title">
            <h2 id = "footer_container_follow_us_title_text" class = "title_text">Food Dictionary</h2>
        </div>
        <div class = "footer_container_follow_us_title_social">
            <h3 class = "footer_container_follow_us_title_social_text">Follow us</h3>
            <img src="img/Telegram_logo.png" class="footer_container_follow_us_title_social_img" id = "footer_container_follow_us_title_social_img_telegram">
            <img src="img/Facebook_icon.png" class="footer_container_follow_us_title_social_img" id = "footer_container_follow_us_title_social_img_facebook">
        </div>
    </div>
       <div class="footer_right">
            
            <div class="footer_container_right_menu_receipts">
                <button id = "footer_container_right_menu_receipts_button" class = "footer_container_right_menu_receipts_button">Receipts
                </button>
            </div>
            <div class="footer_container_right_menu_private">
                <button id = "footer_container_right_menu_private_button" class = "footer_container_right_menu_receipts_button"> Private policy
                </button>
            </div>
       </div>
      
    </div>
</body>
</html>


