<!DOCTYPE html>
<html lang="uk-UA">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="css/recipe.css">
    <script src="scripts/recipe.js"></script>
</head>

<body>
    <!-- Header -->
    <header>
        <div class="logo">
            <a href="index.html"><img src="img/logo.jpg" alt="Українська кухня"></a>
        </div>
        <h1>Food dictionary</h1>
        
        <div class="login">
            <a href="/roflpage">Мені пощастить</a>
        </div>
          <div class="login">
              <a href="/newRecipe">+</a>
          </div>
    </header>

    <!-- Main Content -->
    <main>
        <div class="dish">
            <h2></h2>
            <div class="details">
                <table>
                    <tr>
                        <th>Складність:</th>
                        <td id = "hard-span"></td>
                    </tr>
                    <tr>
                        <th>Час приготування:</th>
                        <td id = "time-span"></td>
                    </tr>
                </table>
            </div>
            <div class="history">
                <p></p>
                <img class="food-img" src="">
            </div>
            <div class="photo">
                <img class="food-img" src="">
            </div>
            <div class="instructions">
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <img class="food-img" src="" alt="Крок 1">
            </div>
            <div class="conclusion">
                <p></p>
            </div>
        </div>

    </main>
    <!-- Footer -->
    <footer>
        <div class="footer">

            <div class="row">
                <ul>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Our Services</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Career</a></li>
                </ul>
            </div>

            <div class="row">
                Food dictionary © 2023 FD - All rights reserved
            </div>
        </div>
    </footer>
</body>

</html>