<!DOCTYPE html>
<html lang="uk-UA">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food dictionary - Борщ</title>
    <link rel="stylesheet" href="recipe.css">
</head>

<body>
    <!-- Header -->
    <header>
        <div class="logo">
            <a href="index.html"><img src="logo.png" alt="Українська кухня"></a>
        </div>
        <h1>Food dictionary</h1>
        <div class="search">
            <input type="text" placeholder="Пошук...">
            <button>Знайти</button>
        </div>
        <div class="login">
            <a href="#">Увійти</a>
        </div>
    </header>

    <!-- Main Content -->
    <main>
        <div class="dish">
            <h2>Борщ</h2>
            <div class="details">
                <table>
                    <tr>
                        <th>Складність:</th>
                        <td>Середня</td>
                    </tr>
                    <tr>
                        <th>Час приготування:</th>
                        <td>1 година</td>
                    </tr>
                </table>
            </div>
            <div class="history">
                <p>Борщ - це одна з найбільш відомих страв української кухні. Він складається з багатьох інгредієнтів,
                    таких як картопля, морква, буряк, капуста, цибуля та м'ясо (зазвичай свинина або говядина).</p>
                <img src="../public/img/receipt_db/1/history.png">
            </div>
            <div class="photo">
                <img src="../public/img/front_img/1.jpg">
            </div>
            <div class="instructions">
                <p>500 грамів свинини<br>2-3 картоплини<br>1 цибуля<br>2-3 головки часнику<br>2-3 лаврових листа<br>Сіль та перець за смаком<br>3-4 літри води</p>
                <p>1. Наріжте м'ясо на кубики та підсмажте його до золотистого кольору у глибокій каструлі або
                    сковороді.</p>
                <p>2. Додайте нарізану цибулю та підсмажте разом із м'ясом до м'якості.</p>
                <p>3. Додайте нарізані овочі (картоплю, моркву, буряк та капусту) та підсмажте їх разом з м'ясом та
                    цибулею протягом кількох хвилин.</p>
                <p>4. Додайте нарізану капусту та тушкуйте її разом з іншими інгредієнтами протягом 10-15 хвилин.</p>
                <p>5. Додайте нарізану зелень (петрушку та кріп) та додайте сіль та перець за смаком. Потім долийте воду
                    та доведіть до кипіння.</p>
                <p>6. Зменшіть вогонь та доведіть до готовності протягом близько 30-40 хвилин.</p>
                <p>7. Подаємо зі сметаною та часником.</p>
                <img src="../public/img/receipt_db/1/step.png" alt="Крок 1">
            </div>
            <div class="conclusion">
                <p>Борщ - це одна з найпопулярніших страв української кухні. Його можна знайти у більшості ресторанів,
                    які пропонують національну кухню, та в домашніх колекціях рецептів. Борщ - це смачна, поживна та
                    задовільна страва, яка відображає культурну спадщину України.</p>
            </div>
        </div>

    </main>
    <!-- Footer -->
    <footer>
        <div class="footer">

            <div class="row">
                <ul>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Our Services</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Career</a></li>
                </ul>
            </div>

            <div class="row">
                Food dictionary © 2023 FD - All rights reserved
            </div>
        </div>
    </footer>
</body>

</html>