<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вам пощатило</title>
    <script src="scripts/rofl.js"></script>
    <link rel="stylesheet" href="css/rofl.css">
</head>

<body>
    <table>
        <tr>
            <td>
                <h2>Обчислити відстань у кілометрах між двома точками на карті, заданими координатами</h2>
                <input class="coordinate-input" placeholder="x1">
                <input class="coordinate-input" placeholder="y1">
                <input class="coordinate-input" placeholder="x2">
                <input class="coordinate-input" placeholder="y2">
                <label class="output"></label>
            </td>
        </tr>
        <tr>
            <td>
                <label for="color-input">Введіть назву кольору:</label>
                <input type="text" id="color-input" placeholder="Наприклад, red">
                <label for="color-output">Колір:</label>
                <div id="color-output"></div>
            </td>
        </tr>
        <tr>
            <td>
                <label for="time-input">Введіть число:</label>
                <input type="text" id="time-input" placeholder="Наприклад, 30">
                <label for="time-output">Чверть:</label>
                <div id="time-output"></div>
            </td>
            
        </tr>
        <tr>
            <td>
                <label for="time-left-output">Залишилось секунд до кінця години:</label>
                <div id="time-left-output"></div>
            </td>
        </tr>
    </table>
</body>

</html>