<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вам пощатило</title>
    <script src="scripts/rofl.js"></script>
    <link rel="stylesheet" href="css/rofl.css">
</head>
<body>
    <h2>Обчислити відстань у кілометрах між двома точками на карті, заданими координатами</h2>
    <input class = "coordinate-input" placeholder="x1">
    <input class = "coordinate-input" placeholder="y1">
    <input class = "coordinate-input" placeholder="x2">
    <input class = "coordinate-input" placeholder="y2">
    <label class="output"></label>
</body>
</html>