.container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50%;
  margin: 0 auto;
}

table tr td a{
  color: white;
  text-decoration: none;
  font-size: 25px;
  text-align: center;
  margin-left: 100px;
}
body {
  font-family: Arial, sans-serif;
  background-image: url('../../img/Recipe_bg.png');
  background-repeat: repeat;
  background-size: cover;
  background-position: right;
  color: white;
}

.title {
  margin-top: 300px;
  text-align: center;
  color: white;
  font-size: 40px;
}

.label {
  text-align: left;
  color: white;
  font-size: 30px;
  border-bottom: 1px solid gray;
}

.input,
.checkbox,
.button {
  margin-left: 10px;
  width: 300px;
  font-size: 30px;
  height: 30px;
}

.button {
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: -150px;
  height: 50px;
  font-size: 40px;
  background: blue;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(25, 25, 27);
  padding: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header img {
  height: 80px;
  width: 80px;
}

header h1 {
  font-size: 36px;
}

header form {
  display: flex;
  align-items: center;
}

header form input[type="text"] {
  padding: 8px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.login a {
  color: white;
  font-size: 25px;

}

header form input[type="submit"] {
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  background: #7f8fa6;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

header nav {
  display: flex;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  font-weight: bold;
  font-size: 16px;
}

.footer {
  background: #000;
  padding: 0px 0px;
  font-family: 'Play', sans-serif;
  text-align: center;
  position: absolute;
  width: 97.5%;
  bottom: 0px;
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
}

.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.footer .row a:hover {
  color: #fff;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

.food-img {
  width: 50%;
  height: auto;
}

