.container {
    display: flex;
    align-items: center;
    justify-content: center;
  width: 50%;
  margin: 0 auto;
}

body {
  font-family: Arial, sans-serif;
  background-image: url('../../img/Recipe_bg.png');
  background-repeat: repeat;
  background-size: cover;
  background-position: right;
  color: white;
}

.title {
  margin-top: 300px;
  text-align: center;
  color: white;
  font-size: 40px;
}

.label {
  text-align: left;
  color: white;
  font-size: 30px;
  border-bottom: 1px solid gray;
}

.input, .checkbox, .button {
  margin-left: 10px;
  width: 300px;
  font-size: 30px;
  height: 30px;
}

.button {
  margin-top: 10px;
  margin-left: -100px;
  height: 50px;
  font-size: 40px;
  background: blue;
}

