<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="css/regpage/styles.css">
</head>

<body>
  <!-- Header -->
  <header>
    <div class="logo">
      <a href="index.html"><img src="img/logo.jpg" alt="Українська кухня"></a>
    </div>
    <h1>Food dictionary</h1>
    <div class="search">
      <input type="text" id="find-input" placeholder="Пошук...">
    </div>
    <!-- <div class="login">
      <a href="/roflpage">Мені пощастить</a>
    </div> -->
    <div class="login">
      <a href = "/chat">Чат</a>
    </div>
    <div class="login">
      <a href = "/privatePage">Особистий кабінет</a>
    </div>
    <div class="login">
      <a href="/newRecipe">+</a>
    </div>

  </header>
  <!-- Main Content -->
  <main>
    <div class="container">
      <table>
        <tr>
          <td colspan="2">
            <h1 class="title">Login</h1>
          </td>
        </tr>
        <tr>
          <td class="label">E-mail:</td>
          <td><input type="text" class="input" id="email"></td>
        </tr>
        <tr>
          <td class="label">Password:</td>
          <td><input type="password" class="input" id="password"></td>
        </tr>
        <tr>
          <td></td>
          <td><button class="button" id="login-btn">Login</button></td>
        </tr>
        <tr>
          <td>
            <a href="/regpage/registration">Have no account? Register!</a>
          </td>
        </tr>
      </table>
    </div>
  </main>
  <!-- Footer -->
  <footer>
    <div class="footer">

      <div class="row">
        <ul>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Our Services</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Career</a></li>
        </ul>
      </div>

      <div class="row">
        Food dictionary © 2023 FD - All rights reserved
      </div>
    </div>
  </footer>
  <script>
    // auth method
    const emailInput = document.getElementById('email');
    const passwordInput = document.getElementById('password');
    const loginButton = document.getElementById('login-btn');

    loginButton.addEventListener('click', async () => {
      const email = emailInput.value;
      const password = passwordInput.value;

      const response = await fetch('/auth', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ 'user': email, 'pwd': password })
      });

      const data = await response.json();

      if (response.ok) {
        localStorage.setItem('accessToken', data.accessToken);
        localStorage.setItem('nameUser', email);
        window.location.href = '/privatePage';
      } else {
        alert(data.message ?? "Error. Try again later");
      }
    });
  </script>

</body>






</html>