<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Registration</title>
  <link rel="stylesheet" href="css/regpage/styles.css">
  <script src="scripts/registration.js"></script>
</head>

<body>
  <header>
    <div class="logo">
      <a href="index.html"><img src="img/logo.jpg" alt="Українська кухня"></a>
    </div>
    <h1>Food dictionary</h1>
    <div class="search">
      <input type="text" id="find-input" placeholder="Пошук...">
    </div>
    <!-- <div class="login">
      <a href="/roflpage">Мені пощастить</a>
    </div> -->
    <div class="login">
      <a href="/chat">Чат</a>
    </div>
    <div class="login">
      <a href="/privatePage">Особистий кабінет</a>
    </div>
    <div class="login">
      <a href="/newRecipe">+</a>
    </div>

  </header>
  <div class="container">
    <table>
      <tr>
        <td colspan="2">
          <h1 class="title">Registration</h1>
        </td>
      </tr>
      <tr>
        <td class="label">E-mail:</td>
        <td><input type="text" class="input" id="email"></td>
      </tr>
      <tr>
        <td class="label">Password:</td>
        <td><input type="password" class="input" id="password"></td>
      </tr>
      <tr>
        <td class="label">Confirm Password:</td>
        <td><input type="password" class="input" id="confirm-password"></td>
      </tr>
      <tr>
        <td class="label">Reader:</td>
        <td><input type="checkbox" class="checkbox" id="check-reader"></td>
      </tr>
      <tr>
        <td class="label">Writer:</td>
        <td><input type="checkbox" class="checkbox" id="check-writer"></td>
      </tr>
      <tr>
        <td></td>
        <td><button class="button" id="register-btn">Register</button></td>
      </tr>
      <tr>
        <td>
          <a href="/regpage/login">Already have an account? Log in!</a>
        </td>
      </tr>
    </table>
  </div>
  <footer>
    <div class="footer">

      <div class="row">
        <ul>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Our Services</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Career</a></li>
        </ul>
      </div>

      <div class="row">
        Food dictionary © 2023 FD - All rights reserved
      </div>
    </div>
  </footer>
</body>

</html>