.container {
    display: flex;
    align-items: center;
    justify-content: center;
  width: 50%;
  margin: 0 auto;
}

.title {
  text-align: center;
  color: black;
  font-size: 40px;
}

.label {
  text-align: left;
  color: gray;
  font-size: 30px;
  border-bottom: 1px solid gray;
}

.input, .checkbox, .button {
  margin-left: 10px;
  width: 300px;
  font-size: 30px;
  height: 30px;
}

.button {
  margin-top: 10px;
  margin-left: -100px;
  height: 50px;
  font-size: 40px;
}

